# Rotten Tomatoes Movies Rating Prediction
source: https://platform.stratascratch.com/data-projects/rotten-tomatoes-movies-rating-prediction

In [ ]:
import pandas as pd
from ydata_profiling import ProfileReport

### (1) Load datasets

In [30]:
movies = pd.read_csv("./datasets/rotten_tomatoes_movies.csv")
print(movies.info())

# Is the data set unique by rotten_tomatoes_link? - Yes
assert movies.drop_duplicates(["rotten_tomatoes_link"]).shape[0] == movies.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB
None

In [27]:
critics = pd.read_csv("./datasets/rotten_tomatoes_critic_reviews_50k.csv")
critics.info()
critics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   rotten_tomatoes_link  50000 non-null  object
 1   critic_name           48068 non-null  object
 2   top_critic            50000 non-null  bool
 3   publisher_name        50000 non-null  object
 4   review_type           50000 non-null  object
 5   review_score          36409 non-null  object
 6   review_date           50000 non-null  object
 7   review_content        41195 non-null  object
dtypes: bool(1), object(7)
memory usage: 2.7+ MB

,rotten_tomatoes_link,critic_name,top_critic,publisher_name,review_type,review_score,review_date,review_content
0,m/0814255,Andrew L. Urban,False,Urban Cinefile,Fresh,NaN,2010-02-06,A fantasy adventure that fuses Greek mythology...
1,m/0814255,Louise Keller,False,Urban Cinefile,Fresh,NaN,2010-02-06,"Uma Thurman as Medusa, the gorgon with a coiff..."
2,m/0814255,NaN,False,FILMINK (Australia),Fresh,NaN,2010-02-09,With a top-notch cast and dazzling special eff...
3,m/0814255,Ben McEachen,False,Sunday Mail (Australia),Fresh,3.5/5,2010-02-09,Whether audiences will get behind The Lightnin...
4,m/0814255,Ethan Alter,True,Hollywood Reporter,Rotten,NaN,2010-02-10,What's really lacking in The Lightning Thief i...
...,...,...,...,...,...,...,...,...
49995,m/1110242-collateral_damage,Chris Hewitt,False,St. Paul Pioneer Press,Rotten,NaN,2002-02-07,The smarter an Arnold Schwarzenegger movie tri...
49996,m/1110242-collateral_damage,Nick Carter,False,Milwaukee Journal Sentinel,Rotten,NaN,2002-02-07,A relative letdown.
49997,m/1110242-collateral_damage,Gary Dowell,True,Dallas Morning News,Rotten,NaN,2002-02-07,The movie straddles the fence between escapism...
49998,m/1110242-collateral_damage,Walter Chaw,False,Film Freak Central,Rotten,0/4,2002-02-07,Enough similarities to Gymkata and Howie Long'...
49999,m/1110242-collateral_damage,Sean O'Connell,False,Eclipse Magazine,Rotten,NaN,2002-02-07,"Age, and a steady diet of Republican conservat..."

### (2) EDA

In [31]:
movies.describe()

,runtime,tomatometer_rating,tomatometer_count,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
count,17398.000000,17668.000000,17668.000000,17416.000000,1.741500e+04,17712.000000,17712.000000,17712.000000
mean,102.214048,60.884763,57.139801,60.554260,1.439401e+05,14.586326,36.374831,20.703139
std,18.702511,28.443348,68.370047,20.543369,1.763577e+06,15.146349,52.601038,30.248435
min,5.000000,0.000000,5.000000,0.000000,5.000000e+00,0.000000,0.000000,0.000000
25%,90.000000,38.000000,12.000000,45.000000,7.075000e+02,3.000000,6.000000,3.000000
50%,99.000000,67.000000,28.000000,63.000000,4.277000e+03,8.000000,16.000000,8.000000
75%,111.000000,86.000000,75.000000,78.000000,2.498800e+04,23.000000,44.000000,24.000000
max,266.000000,100.000000,574.000000,100.000000,3.579764e+07,69.000000,497.000000,303.000000

In [43]:
movies.isna().sum()

rotten_tomatoes_link                   0
movie_title                            0
movie_info                           321
critics_consensus                   8578
content_rating                         0
genres                                19
directors                            194
authors                             1542
actors                               352
original_release_date               1166
streaming_release_date               384
runtime                              314
production_company                   499
tomatometer_status                    44
tomatometer_rating                    44
tomatometer_count                     44
audience_status                      448
audience_rating                      296
audience_count                       297
tomatometer_top_critics_count          0
tomatometer_fresh_critics_count        0
tomatometer_rotten_critics_count       0
dtype: int64

In [40]:
catVars = movies.select_dtypes("object").columns.to_list()

for var in catVars:
    print(f"{var} {movies[var].nunique()} : {movies[var].unique()[0:10]}")

rotten_tomatoes_link 17712 : ['m/0814255' 'm/0878835' 'm/10' 'm/1000013-12_angry_men'
 'm/1000079-20000_leagues_under_the_sea' 'm/10000_bc' 'm/1000121-39_steps'
 'm/1000123-310_to_yuma' 'm/10002008-charly' 'm/1000204-abraham_lincoln']
movie_title 17106 : ['Percy Jackson & the Olympians: The Lightning Thief' 'Please Give' '10'
 '12 Angry Men (Twelve Angry Men)' '20,000 Leagues Under The Sea'
 '10,000 B.C.' 'The 39 Steps' '3:10 to Yuma' 'Charly (A Heartbeat Away)'
 'Abraham Lincoln']
movie_info 17389 : ["Always trouble-prone, the life of teenager Percy Jackson (Logan Lerman) gets a lot more complicated when he learns he's the son of the Greek god Poseidon. At a training ground for the children of deities, Percy learns to harness his divine powers and prepare for the adventure of a lifetime: he must prevent a feud among the Olympians from erupting into a devastating war on Earth, and rescue his mother from the clutches of Hades, god of the underworld."
 "Kate (Catherine Keener) and her husband Alex (Oliver Platt) are wealthy New Yorkers who prowl estate sales and make a tidy profit reselling items they bought cheaply. They buy the apartment next door and plan to remodel just as soon as its current occupant, a cranky old woman, dies. Kate is troubled by the way she and her husband earn a living, and tries to assuage her guilt by befriending her tenant and the woman's granddaughters, but her overtures lead to unexpected consequences."
 'A successful, middle-aged Hollywood songwriter falls hopelessly in love with the woman of his dreams, and even follows the girl and her new husband to their Mexican honeymoon resort. While his behavior seems sure to land him in trouble, out of the blue fate plays into his hands.'
 "Following the closing arguments in a murder trial, the 12 members of the jury must deliberate, with a guilty verdict meaning death for the accused, an inner-city teen. As the dozen men try to reach a unanimous decision while sequestered in a room, one juror (Henry Fonda) casts considerable doubt on elements of the case. Personal issues soon rise to the surface, and conflict threatens to derail the delicate process that will decide one boy's fate."
 'In 1866, Professor Pierre M. Aronnax (Paul Lukas) and his assistant Conseil (Peter Lorre), stranded in San Francisco by reports of a giant sea monster attacking ships in the Pacific Ocean, are invited to join an expedition to search for the creature. During the search, they and harpooner Ned Land (Kirk Douglas) are thrown overboard during an attack, eventually discovering that the supposed monster is actually a submarine piloted by the brilliant but haunted Captain Nemo (James Mason).'
 "Mammoth hunter D'Leh (Steven Strait) has long been in love with a beautiful, blue-eyed tribeswoman named Evolet (Camilla Belle). After horseback-riding raiders kidnap most of his D'Leh's fellow tribesmen as well as Evolet, he sets out on a dangerous trek to rescue her from her captors."
 'While on vacation in London, Canadian Richard Hannay (Robert Donat) becomes embroiled in an international spy ring related to the mysterious "39 steps." Then he meets agent Annabella Smith (Lucie Mannheim), who is soon killed in his apartment. He must elude the police, who are hunting him for murder, while he tries to stop Professor Jordan (Godfrey Tearle) from sending secrets out of the country. Hannay is assisted by Pamela (Madeleine Carroll), an unwilling accomplice who discovers the truth.'
 "Dan Evans (Van Heflin), a drought-plagued Arizona rancher, volunteers to take captured stagecoach robber and murderer Ben Wade (Glenn Ford) from Bisbee to Contention City, where the criminal will be put aboard the 3:10 train to Yuma for his trial. Accompanied only by the town drunk, Alex Potter (Henry Jones), Dan battles Wade's henchman (Richard Jaeckel), the murder victim's revenge-minded brother, and the temptation of the large bribe Wade offers in exchange for his freedom."
 'Cultural differences, past loves and personal crises threaten the emerging romance between a free spirit (Heather Beers) and her conventional beau (Jeremy Elliott).'
 'The 16th U.S. president (Walter Huston) is portrayed as a lawyer, orator, husband and Civil War commander.']
critics_consensus 9132 : ['Though it may seem like just another Harry Potter knockoff, Percy Jackson benefits from a strong supporting cast, a speedy plot, and plenty of fun with Greek mythology.'
 "Nicole Holofcener's newest might seem slight in places, but its rendering of complex characters in a conflicted economic landscape is varied, natural, and touching all the same."
 "Blake Edwards' bawdy comedy may not score a perfect 10, but Dudley Moore's self-deprecating performance makes this midlife crisis persistently funny."
 "Sidney Lumet's feature debut is a superbly written, dramatically effective courtroom thriller that rightfully stands as a modern classic."
 "One of Disney's finest live-action adventures, 20,000 Leagues Under the Sea brings Jules Verne's classic sci-fi tale to vivid life, and features an awesome giant squid."
 'With attention strictly paid to style instead of substance, or historical accuracy, 10,000 B.C. is a visually impressive but narratively flimsy epic.'
 "Packed with twists and turns, this essential early Alfred Hitchcock feature hints at the dazzling heights he'd reach later in his career."
 nan
 'Its heart is in the right place, but what starts as a promising exercise devolves into an overlong, unevenly directed disappointment.'
 "Matched by Garson Kanin's witty, sophisticated screenplay, George Cukor, Spencer Tracy, and Katherine Hepburn are all in top form in the classic comedy Adam's Rib."]
content_rating 6 : ['PG' 'R' 'NR' 'G' 'PG-13' 'NC17']
genres 1106 : ['Action & Adventure, Comedy, Drama, Science Fiction & Fantasy' 'Comedy'
 'Comedy, Romance' 'Classics, Drama'
 'Action & Adventure, Drama, Kids & Family'
 'Action & Adventure, Classics, Drama'
 'Action & Adventure, Classics, Mystery & Suspense'
 'Classics, Drama, Western' 'Comedy, Drama, Romance'
 'Art House & International, Horror, Mystery & Suspense']
directors 8933 : ['Chris Columbus' 'Nicole Holofcener' 'Blake Edwards' 'Sidney Lumet'
 'Richard Fleischer' 'Roland Emmerich' 'Alfred Hitchcock' 'Delmer Daves'
 'Adam Thomas Anderegg' 'D.W. Griffith']
authors 12989 : ['Craig Titley, Chris Columbus, Rick Riordan' 'Nicole Holofcener'
 'Blake Edwards' 'Reginald Rose' 'Earl Felton'
 'Harald Kloser, Roland Emmerich'
 'Alma Reville, Charles Bennett, Ian Hay, Alfred Hitchcock'
 'Halsted Welles' 'Jack Weyland, Janine Whetton Gilbert'
 'Gerrit J. Lloyd, Stephen Vincent BenÃ©t']
actors 17330 : ["Logan Lerman, Brandon T. Jackson, Alexandra Daddario, Jake Abel, Sean Bean, Pierce Brosnan, Steve Coogan, Rosario Dawson, Melina Kanakaredes, Catherine Keener, Kevin Mckidd, Joe Pantoliano, Uma Thurman, Ray Winstone, Julian Richings, Bonita Friedericy, Annie Ilonzeh, Tania Saulnier, Marie Avgeropoulos, Luisa D'Oliveira, Christie Laing, Marielle Jaffe, Elisa King, Chrystal Tisiga, Alexis Knapp, Charlie Gallant, Chelan Simmons, Andrea Brooks, Natassia Malthe, Max Van Ville, Serinda Swan, Dimitri Lekkos, Ona Grauer, Stefanie von Pfetten, Conrad Coates, Erica Cerra, Dylan Neal, Luke Camilleri, Holly Hougham, Ina Geraldine, Raquel Riskin, Yusleidis Oquendo, Janine Edwards, Valerie Tian, Violet Columbus, Sarah Smyth, Merritt Patterson, Julie Luck, Andrea Day, John Stewart, Suzanne Ristic, Deejay Jackson, Matthew Garrick, Stan Carp, Suzanna Ristic, Richard Harmon, Maria Olsen, Robin Lemon, Doyle Devereux, Tom Pickett, VJ Delos-Reyes, Tim Aas, Keith Dallas, Spencer Atkinson, Maya Washington, Loyd Bateman, Victor Ayala, Zane Holtz, Eli Zagoudakis, Matt Reimer, Rob Hayter, Lloyd Bateman, Shawn Beaton, Jarod Joseph, Reilly Dolman, Paul Cummings, Julie Brar, Dejan Loyola, Damian Arman, Mario Casoria, Dorla Bell, Carolyn Adair (II), Jade Pawluk, G. Patrick Currie, Darian Arman, Mariela Zapata, David L. Smith"
 'Catherine Keener, Amanda Peet, Oliver Platt, Rebecca Hall, Sarah Steele, Ann Morgan Guilbert, Kevin Corrigan, Lois Smith'
 'Dudley Moore, Bo Derek, Julie Andrews, Robert Webber, Dee Wallace, Sam Jones III, Sam J. Jones, Brian Dennehy, Max Showalter, Rad Daly, Nedra Volz, James Noble, Virginia Kiser, John Hawker, Deborah Rush, Don Calfa, Walter George Alton, Annette Martin, John Hancock, Lorry Goldman, Arthur Rosenberg, Mari Gorman, Marcy Hanson, Julia Jennings, Senilo Tanney, Kitty DeCarlo, William Lucking, Owen Sullivan, Debbie White, Laurence Carr, Camila Ashland, Adrian Aron, Gail Bowman, Burke Byrnes, Michael Champion, Doug Sheehan, J. Victor Lopez, Gregory Chase, Jon Linton, Ellen Clark, Antonia Ellis, John Chappell, Lynn Farrell, Art Kassul, Denise Crosby, Jeanetta Arnette'
 'Martin Balsam, John Fiedler, Lee J. Cobb, E.G. Marshall, Jack Klugman, Edward Binns, Jack Warden, Henry Fonda, Joseph Sweeney, Ed Begley Sr., George Voskovec, Robert Webber, Rudy Bond, James A. Kelly, Billy Nelson, John Savoca'
 'James Mason, Kirk Douglas, Paul Lukas, Peter Lorre, Robert J. Wilke, Carleton Young, Bob Wilke, Ted de Corsia, Percy Helton, Ted Cooper, Eddie Marr, Fred Graham, Esmeralda, J.M. Kerrigan, Harry Harvey, Herb Vigran'
 "Steven Strait, Camilla Belle, Cliff Curtis, Joel Virgel, Affif Ben Badra, Mo Zainal, Nathanael Baring, Marco Khan, Reece Ritchie, Joel Fry, Junior Oliphant, Louise Tu'u, David Dennis, Kristian Beazley, Mona Hammond, Jacob Renton, Grayson Hunt Urwin, Fahruq Valley-Omar, Boubacar Badaine, Joe Vaz, Charles Baloyi, Tim Barlow, Gabriel Malema, Mark Simmons, Hannah Westbury, Affif Ben Badra, Mo Zinal, Omar Sharif, Farouk Valley-Omar"
 'Robert Donat, Madeleine Carroll, Godfrey Tearle, Lucie Mannheim, Peggy Ashcroft, John Laurie, Helen Haye, Wylie Watson, Frank Cellier, Peggy Simpson, Gus McNaughton, Jerry Verno, Miles Malleson, Marianne Stone'
 'Glenn Ford, Van Heflin, Felicia Farr, Leora Dana, Henry Jones, Richard Jaeckel, Robert Emhardt, Sheridan Comerate, George Mitchell, Robert Ellenstein, Ford Rainey, Barry Curtis, Jerry Hartleben, Woodrow Chambliss'
 'Heather Beers, Gary Neilson, Lisa McCammon, Jackie Winterrose-Fullerup, Jeremy Elliott, Randy King'
 "Walter Huston, Una Merkel, Kay Hammond, Ian Keith, Jason Robards Sr., E. Alyn Warren, Hobart Bosworth, Fred Warren, Henry B. Walthall, Frank Campeau, Francis Ford, William L. Thorne, Lucille La Verne, Helen Freeman, Oscar Apfel, Otto Hoffman, Edgar Dearing, Russell Simpson, Helen Ware, Charles Crockett, Jason Robards Sr., Gordon Thorpe, James Bradbury Sr., Cameron Prud'Homme, James Eagles, Hank Bell, James Bradbury Jr, Carl Stockdale, George MacQuarrie, Ralph Lewis, Mary Forbes, Robert Brower, Henry Kolker, Robert E. Homans"]
original_release_date 5804 : ['2010-02-12' '2010-04-30' '1979-10-05' '1957-04-13' '1954-01-01'
 '2008-03-07' '1935-08-01' '1957-08-07' '2002-09-27' '1930-11-08']
streaming_release_date 2271 : ['2015-11-25' '2012-09-04' '2014-07-24' '2017-01-13' '2016-06-10'
 '2013-06-22' '2017-01-12' '2012-04-16' '2017-05-22' '2013-12-03']
production_company 3046 : ['20th Century Fox' 'Sony Pictures Classics' 'Waner Bros.'
 'Criterion Collection' 'Disney' 'Warner Bros. Pictures'
 'Gaumont British Distributors' 'Columbia Pictures' 'Excel Entertainment'
 'United Artists']
tomatometer_status 3 : ['Rotten' 'Certified-Fresh' 'Fresh' nan]
audience_status 2 : ['Spilled' 'Upright' nan]

### (3)